{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "ssm:PutParameter",
                "ssm:DescribeParameters",
                "ssm:GetParameter"
            ],
            "Resource": "*"
        },
		{
            "Effect": "Allow",
            "Action": "s3:*",
            "Resource": "*"
        }
    ]
}